@model List<TrainingPlan>

@* <div>jest tutaj @Model.Count planów</div> *@

<div class="my-4">
	<div class="py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Lista planów treningowych</h2>
			</div>
		</div>
	</div>
	<div class="p-4">
		<div class="row pb-3">
			<div class="col-8"></div>
			<div class="col-4 text-end">
				<a asp-controller="ExerciseAdmin" asp-action="Create" class="btn button-green">
					Dodaj nowy plan <i class="bi bi-plus"></i>
				</a>
			</div>
		</div>

		<div class="d-flex justify-content-center">
			<table style="border-collapse: separate; border-spacing: 0 20px;">
				<tr>
					<thead>
						<th class="w-50">Tytuł</th>
						<th class="w-50">Ćwiczenia</th>
						<th class="w-70">Twórca</th>
						<th>Edycja/Usuń</th>
					</thead>
				</tr>
				<tbody>
					@foreach (var obj in Model)
					{
						<tr>
							<td>
								@obj.Title
							</td>
							<td>
								@obj.Exercises.Count
							</td>
							<td>
								@obj.Creator
							</td>
							<td>
								<div class="w-75 btn-group" role="group">
									<a asp-controller="TrainingPlanAdmin" asp-action="Update" asp-route-id="@obj.Id" class="btn button-orange">
										<i class="bi bi-pencil-square"></i> Edit
									</a>
									<a asp-controller="TrainingPlanAdmin" asp-action="Delete" asp-route-id="@obj.Id" class="btn button-red">
										<i class="bi bi-trash-fill"></i> Delete
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>