@using DbDataAccess.Models

@model TrainingPlan

<div>
	<div class="card border-light m-3" style="min-height: 900px;">
		<div class="card-header" style="text-align: center">
			<h2>@Model.Title</h2>
		</div>
		<div class="card-body"
			<div class="card-title">
				<span class="d-flex justify-content-md-center ">
					@* @foreach (var exercise in Model.Exercises)
					{
						<h4>@exercise.ExerciseData.Name</h4>
					} *@

					@foreach (KeyValuePair<string, bool> day in Model.TrainingDaysDict)
					{
						if (day.Value)
						{
							<input class="week" id="@day.Key" type="checkbox" value="@day.Key" hidden checked disabled/>
						}
						else
						{
							<input class="week" id="@day.Key" type="checkbox" value="@day.Key" hidden disabled/>
						}
						
						<label class="weekL btn btn-secondary m-1" for="monday">@day.Key</label>

					}

				 </span>
			</div>
			<div class="m-2">
				<div class="row d-flex justify-content-center mb-5">

					@foreach (ExerciseTrainingPlan exercise in Model.Exercises)
					{
						<div class="card m-2" style="width: fit-content; height: fit-content;">
							<div class="card-header">
								<img src="..\..\@exercise.ExerciseData.ImgPath1" alt="Alternate Text" style="max-width: 400px;"/>
							</div>
							<div class="card-body" style="height: 85%">
								<h5 class="card-title text-center">@exercise.ExerciseData.Name</h5>
								<hr />
								<ol id="ol_1">
									@{
										var exerciseWeightsList = exercise.Weights.Split(';');
										var exerciseRepsList = exercise.Reps.Split(';');
									}
									@for (int i = 0; i < exerciseRepsList.Count(); i++)
									{
										<li>seria:
											<p class="value1" style="display: inline-block">@exerciseRepsList[i] powtórzeń</p>
										</li>
									}

								</ol>
							</div>
						</div>
					}
				</div>
			
				<div class="m-4 p-2" style="border: 1px solid white; border-radius: 10px; min-height: 100px;">
					<h6>Notatki do planu: </h6>
					<p class="m-3">@Model.Notes</p>
				</div>
			
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>

	</script>
	<script>


	</script>
	
}