@using YourTrainerApp.Models

@model TrainerDataModel

<div>
	<form method="post">
		<div class="container">
			<div class="m-2">
				<input class="form-control" type="number" asp-for="@Model.TrainerId" hidden />
			</div>
			<div class="m-2">
				<label class="form-label" for="trainerName">Imię</label>
				<input id="trainerName" class="form-control" name="trainerName" type="text" asp-for="@Model.TrainerName" disabled/>
			</div>
			<div class="m-2">
				<label class="form-label" for="description">Twój opis</label>
				<textarea id="description" class="form-control" name="description" type="text" asp-for="@Model.Description" disabled></textarea>
			</div>
			<div class="m-2">
				<label class="form-label" for="email">Email kontaktowy</label>
				<input id="email" class="form-control" name="email" type="text" asp-for="@Model.Email" disabled />
			</div>
			<div class="m-2">
				<label class="form-label" for="phoneNumber">Numer telefonu</label>
				<input id="phoneNumber" class="form-control" name="phoneNumber" type="text" asp-for="@Model.PhoneNumber" disabled />
			</div>
			<div class="m-2">
				<input class="form-control" name="rate" type="number" value="3" asp-for="@Model.Rate" hidden/>
			</div>
			<div class="m-2">
				<input class="form-control" name="rate" type="text" value="0" asp-for="@Model.MembersId" hidden />
			</div>
			<div class="m-2">
				<label class="form-label" for="availability">Przyjmowanie nowych klientów (0: nie, 1: tak):</label>
				<input id="availability" class="form-control" name="availability" type="number" asp-for="@Model.Availability" disabled />
			</div>
			<div class="d-flex justify-content-between">
				<div class="btn-group">
					<button id="submitButton" class="btn button-green" type="submit" asp-area="Trainer" asp-controller="DataSettings" asp-action="ShowData" hidden>Zatwierdź</button>
					<a id="clearButton" class="btn button-red" asp-area="Trainer" asp-controller="DataSettings" asp-action="ClearData" hidden>Wyczyść</a>
				</div>
				<div>
					<button id="editButton" type="button" class="btn button-orange" onclick="enableInputs()">Edycja</button>
					<button id="removeChangesButton" type="button" class="btn button-orange" onclick="disableInputs()" hidden>Cofnij zmiany</button>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		function enableInputs() {
			document.getElementById("trainerName").removeAttribute("disabled");
			document.getElementById("description").removeAttribute("disabled");
			document.getElementById("email").removeAttribute("disabled");
			document.getElementById("phoneNumber").removeAttribute("disabled");
			document.getElementById("availability").removeAttribute("disabled");

			document.getElementById("submitButton").removeAttribute("hidden");
			document.getElementById("clearButton").removeAttribute("hidden");
			document.getElementById("removeChangesButton").removeAttribute("hidden");
			document.getElementById("editButton").setAttribute("hidden", "hidden");
		}

		function disableInputs() {
			document.getElementById("trainerName").setAttribute("disabled", "disabled");
			document.getElementById("description").setAttribute("disabled", "disabled");
			document.getElementById("email").setAttribute("disabled", "disabled");
			document.getElementById("phoneNumber").setAttribute("disabled", "disabled");
			document.getElementById("availability").setAttribute("disabled", "disabled");

			document.getElementById("submitButton").setAttribute("hidden", "hidden");
			document.getElementById("clearButton").setAttribute("hidden", "hidden");
			document.getElementById("editButton").removeAttribute("hidden");
			document.getElementById("removeChangesButton").setAttribute("hidden", "hidden");

			location.reload();
		}
	</script>
}