@inject IHttpContextAccessor httpAcc

@model List<TrainingPlan>

<div class="m-3 text-center">
	<div class="container">
		<br /><br />
		<div>
			
			@if (httpAcc.HttpContext.Session.GetString("Username") is not null &&
				 httpAcc.HttpContext.Session.GetString("Username").Length > 0)
			{
				<div>
					<a asp-controller="TrainingPlan" asp-action="Create" asp-route-isCreating="@false" class="btn button-green">
						Dodaj nowy plan
					</a>
				</div>
			}
			else
			{
				<h2 class="mb-5">
					<a class="a-green" asp-area="Auth" asp-controller="Auth" asp-action="Login">Zaloguj się</a> aby dodawać i wczytać zapisane plany treningowe
				</h2>
			}
			
		</div>
		<br /><br />
		<div style="margin-bottom: 100px; margin-top: 50px;">
			@if (httpAcc.HttpContext.Session.GetString("Username") is not null &&
					httpAcc.HttpContext.Session.GetString("Username").Length > 0)
			{
				<h2 class="my-3">Twoje plany treningowe: </h2>
			}
			else
			{
				<h2 class="my-3">Nasze plany treningowe: </h2>	
			}
			<div>
				<div class="row d-flex justify-content-center">
				@foreach (var trainingPlan in Model)
				{
					<div class="t-plan-size card m-2 p-0">
						<div class="card-header text-center">
							<h3>
								<a asp-controller="TrainingPlan" asp-action="Show" asp-route-id="@trainingPlan.Id" 
									class="a-green">
									@trainingPlan.Title
								</a>
							</h3>
						</div>
						<div class="card-body">
							<div class="card-text">
								<ul class="no-dots">
									<li>Dla początkujących</li>
									<li>@trainingPlan.Exercises.Count() ćwiczeń</li>
								</ul>
								<hr />
								<div class="m-2">
									@trainingPlan.Notes
								</div>
							</div>
						</div>
					</div>
				}
				</div>
			</div>
		</div>
	</div>
</div>