@model List<TrainerDataModel>
@inject IHttpContextAccessor httpAcc




<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="my-4 d-flex justify-content-center">
				<label>Wybierz swojego trenera: </labe><br />
				@foreach (TrainerDataModel trainerDataModel in Model)
				{
					<div class="my-2">
						<a class="btn button-green d-flex justify-content-between px-2" style="min-width: 180px"
						   onclick="showTrainerData('@trainerDataModel.TrainerName', '@trainerDataModel.Description', '@trainerDataModel.Rate', '@trainerDataModel.Email --- @trainerDataModel.PhoneNumber', '@trainerDataModel.TrainerId')">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
								</svg>
								@trainerDataModel.TrainerName
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
								</svg>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
		<div class="col-8">
			<div id="trainerData" class="my-5" style="background-color: #303030; border-radius: 40px;" hidden>
				<div class="d-flex justify-content-between p-4">
					<div class="d-flex justify-content-between align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
						</svg>
						<h5 class="ps-3" id="trainerName">Nazwa trenera</h5>
					</div>
					@{
						bool isWaitingForAnAnswer = httpAcc.HttpContext.Session.GetString("WaitingForAnAnswer") == "True";
					}
					<div class="d-flex align-items-center">
						@if (httpAcc.HttpContext.Session.GetString("WaitingForAnAnswer") != "True")
						{
							<a id="addTrainer" class="btn button-green" style="border-radius:50px"
							    asp-area="GymMember" asp-controller="TrainerContact" asp-action="AddTrainer">
								Dodaj trenera +
							</a>
						}
						else
						{
							<button class="btn button-green" disabled title="Oczekuj na odpowiedź od trenera">
								Dodaj trenera
							</button>
						}
					</div>
				</div>
			
				<div class="d-flex justify-content-start px-4 py-1">
					<a class="px-5 a-blank" href="#" onclick="showView(0)">O mnie</a>
					<a class="px-5 a-blank" href="#" onclick="showView(1)">Opinie</a>
					<a class="px-5 a-blank" href="#" onclick="showView(2)">Kontakt</a>
				</div>
				<hr style="width: 80%; 
						   margin-left: auto; margin-right: auto;
						   color: #37D477" />

				<div class="p-4 pb-5 justify-content-center" id="trainerDescription">
					<p>test</p>
				</div>

				<div class="p-4 pb-5 justify-content-center" id="trainerOpinions" style="display: none">
					@for (int i = 0; i < 5; i++)
					{
						<div class="px-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#37D477" class="bi bi-star" viewBox="0 0 16 16">
								<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
							</svg>
						</div>
					}
				</div>

				<div class="p-4 pb-5 justify-content-center" id="trainerContactData" style="display: none">
					<ul style="list-style: none">
						<li>Telefon: 999 888 777</li>
						<li>E-mail: trener@gmail.com</li>
					</ul>
				</div>

				
			</div>
		</div>
	</div>
</div>


@section Scripts {

	<script>
		function showView(id) {
			var description = document.getElementById("trainerDescription");
			var opinions = document.getElementById("trainerOpinions");
			var contact = document.getElementById("trainerContactData");

			const elements = [description, opinions, contact];

			elements.forEach(function (item, index) {
				if (index == id) {
					item.style.display = "flex";
				}
				else {
					item.style.display = "none";
				}
			})
		}

		function showTrainerData(name, description, opinions, contact, trainerId) {
			document.getElementById("trainerData").removeAttribute("hidden");
			var trainerName = document.getElementById("trainerName");
			trainerName.innerText = name;

			var descriptionTag = document.getElementById("trainerDescription");
			var opinionsTag = document.getElementById("trainerOpinions");
			var contactTag = document.getElementById("trainerContactData");

			descriptionTag.innerText = description;

			opinionsTag.innerHTML = opinions + '/5';

			contactTag.innerText = contact;

			showView(0);


			var addTrainer = document.getElementById("addTrainer");
			addTrainer.href = "/GymMember/TrainerContact/AddTrainer/" + trainerId;

			// var cardBtn = document.createElement("a");
			// cardBtn.classList.add("btn", "cardBtn");
			// cardBtn.style.borderRadius = "50px";
			// cardBtn.style.backgroundColor = "#33C26F";
			// cardBtn.href = "/Visitor/TrainingPlan/AddExerciseId/" + subArray[2]
			// cardBtn.textContent = "Dodaj";


		}
	</script>
}