@model Exercise

<div class="mx-5">
	<div class="d-flex">

		<div class="col-8">
			<div class="card my-4">
				<div class="card-header">
					<h3 class="card-title">@Model.Name</h3>
				</div>
				<div class="card-body row">
					<div class="col-6">
						<img class="img-fluid"
							 src="..\..\@Model.ImgPath1"
							 style="" />
					</div>
					<div class="col-6">
						<img class="img-fluid"
							 src="..\..\@Model.ImgPath2"
							 style="" />
					</div>
					<div class="my-3">
						<ul>
						@{
							string[]? instrList = Model.Instructions.Split(";");
						}
						@foreach (string instr in instrList)
						{
							<li>@instr</li>
						}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4 d-flex justify-content-center">
			<div class="card my-4" style="width: fit-content">
				<img src="https://media.istockphoto.com/id/898222860/pl/wektor/m%C4%99skie-cia%C5%82o-cz%C5%82owieka-mapa-mi%C4%99%C5%9Bni-rectus-abdominis.jpg?s=2048x2048&w=is&k=20&c=NXpHy5Pmo42hhbRiRcRGK-kEF_ibBWaiQC-0Y-rbEpo="
						style="width: 200px" />
					
				<div class="card-body">
					<ul>
						<li>Grupa mięśni: @Model.Force</li>
						<li>Poziom: @Model.Level</li>
						<li>Mechanika: @Model.Mechanic</li>
						<li>Wyposażenie: @Model.Equipment</li>
						<li>Główne mięśnie: @Model.PrimaryMuscles</li>
						<li>Inne mięśnie: @Model.SecondaryMuscles</li>
						<li>Kategoria: @Model.Category</li>

					</ul>
				</div>

			</div>
			<div style="text-align: center">
				
			</div>
			

		</div>
	</div>
</div>